html, body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Newsreader', serif;
}
.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

input, button, select {
    cursor: pointer;
    padding: 5px 10px;
    width: 150px;
    margin: 5px;
    margin-bottom: 0px;
    --angle: 0deg;
    border-image:  linear-gradient(
        var(--angle), #12c2e9, #c471ed, #f64f59
    ) 1;
    animation: 5s rotate linear infinite;
} 

.color-input{
   height: 30px;
   outline: #2d2d2d solid 1px;
}

.select-mode {
    text-align: center;
    font-weight: 400;
    background: #f8f8f8;
}

.btn {
    font-family: 'Newsreader', serif;
    font-weight: 600;
    font-size: 18px;
} 

.select-mode:hover,
.select-mode:focus,
.btn:hover,
.btn:focus,
.color-input:hover,
.color-input:focus {
    transition-timing-function: ease-in-out;
    transition: .6s;
    background: #2d2d2d;
    color: beige;
}

.main {
  width: 500px;
  height: 400px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 
  0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 
  0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.grid {
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    height: 400px;
    width: 500px;
}

 .text {
    align-self: flex-end;
    cursor: pointer;
    font-size:15px;
    margin: 0;
    padding: 8px 20px;
    background-color: #fff;
    color: #2d2d2d;
    border-radius: 2px;
}

.copied {
	color: #333;
    font-size: 100px;
    opacity: 0;
}

@keyframes rotate {
    to {
     --angle: 360deg;
    }
}

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}


/* @Media */

/* styles for mobile browsers smaller than 480px; (iPhone) */
@media only screen and (max-device-width: 480px) {
    .main {
      display: flex;
      flex-wrap: wrap;
       
    }
     .grid {
      flex: 1 100px;    
    } 
 }